html {
  background-image: url("../images/skybackground2.jpg");
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  font-size: 100%;
  overflow:hidden;
}
body {
	margin:0px;
	padding:0px;
	overflow: scroll;
	height:100%;
}
.logo {
	width: 400px;
	display: block;
	margin:0 auto;
	margin-top: 40px;
}
/*navigation bar*/
header nav{
	width:860px;
	margin:0 auto;
	margin-top: 95px;
	padding: 0px;
	text-decoration: none;
}
header nav li{
	margin:30px;
	border-bottom: 3px solid rgba(25, 44, 86, 0);
	padding-bottom: 20px;
	transition: border-bottom 0.5s;
	display:inline;
}
header ul a{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-decoration: none;
	font-size: 18pt;
	color: #192C56;
	border-bottom: 3px solid rgba(25, 44, 86, 0);
	padding-bottom: 20px;
	transition: border-bottom 0.5s;
}
header ul a:hover{
	border-bottom: 3px solid rgba(25, 44, 86, 1.0);
	padding-bottom: 20px;
}
header ul a:active{
	color: #1f6db6;
	border-bottom: 3px solid #1f6db6;
}
#wrapper{
	width:850px;
	color:rgba(25, 44, 86, 1.0);
	margin:0 auto;
	margin-top: 150px;
	font-family: 'Lato', sans-serif;
	font-size:16px;
}
a{
	text-decoration:none;
	color:#192C56;
}
.sidebar{
	list-style-type: none;
	margin:0px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	line-height:150%;
	margin-left:-40px;
	width:100px;
	float:left;
	display:block;
}
.sidebartext{
	text-decoration: none;
	border-bottom: 2px solid rgba(25, 44, 86, 0);
	padding-bottom: 2px;
	transition: border-bottom 0.5s;
}
.sidebartext:visited{
	color: #192c56;
}
.sidebartext:hover{
	border-bottom: 2px solid rgba(25, 44, 86, 1.0);
	padding-bottom: 2px;
}
.sidebartext1{
	text-decoration:none;
	color: #1f6db6;
	border-bottom: 2px solid  #1f6db6;
	padding-bottom: 2px;
}
.bodytext{
	width:700px;
	float:right;
	display:block;
	margin-top: -17px;
}
.articleheader{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.subheader{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size:18px;
}
.articletext{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

/*footer section*/
#foot{
	width: 100%;
	height: 200px;
	background-color: #192c56;
	overflow-y:hidden;
	margin-top:900px;
}
.footercontainer{
	width:860px;
	margin:0 auto;
}
.contact{
	float:left;
	
}
.products{
	float: right;
	margin-right:50px;
}
.about{
	float:right;
	margin-right:50px;
}
.footerheader{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: white;
	font-size: 16px;
}
.footertext{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: white;
	font-size: 16px;
	text-decoration:none;
}
.footertext:hover{
	text-decoration: underline;
}
.footericon{
	display:block;
}
.footertextemail{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: white;
	font-size: 16px;
	margin-top:-63px;
	margin-left: 45px;
}
.footertextphone{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: white;
	font-size: 16px;
	margin-left:45px;
}
.topbutton{
	display:block;
	float:right;
	margin-top:130px;
}
@media screen and (max-width: 1024px) and (max-height: 1366px){
	#foot {
		width: 100%;
		height: 200px;
		background-color: #192c56;
		overflow-y:hidden;
		margin-top: 900px;
	}
}
@media screen and (max-width: 1023px){
	header nav li{
		margin: 15px;
	}
	#wrapper{
		width:625px;
	}
	.bodytext{
		width:500px;
	}
	#foot{
		width: 100%;
		height: 200px;
		background-color: #192c56;
		overflow-y:hidden;
		margin-top: 950px;
	}
	.footercontainer{
		width:625px;
		height:100%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 767px){
	.logo {
		width: 350px;
		display: block;
		margin:0 auto;
		margin-top: 40px;
		overflow-y:hidden;
	}
	.burger{
		display:block;
		height:40px;
		width:100%;
		background:url(../images/burgernav.png) no-repeat 98% center;
		background-color: #192C56;
		cursor: pointer;
	}
	header nav{
		width:100%;
		margin:0 auto;
		margin-top: 50px;
		padding: 0px;
		text-decoration: none;
	}
	header nav ul{
		padding:0px;
		background-color: #213b74;
		margin:0px;
		text-align:center;
		overflow:hidden;
		height:0;
	}
	header nav ul.open{
		height:auto;
	}
	header nav ul li{
		margin:0px;
		padding:5px;
		border-bottom:4px solid #192C56;
		transition: none;
		display:block;
		
	}
	header nav ul li a{
		padding:0px;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		text-decoration: none;
		font-size: 13pt;
		color: #ffffff;
		transition: none;
		
	}
	#wrapper{
		width:320px;
		margin:0 auto;
		margin-top:60px;
		padding: 0px;
	}
	li{
		display:inline;
		margin:4px;
	}
	.sidebar{
		width:320px;
		margin: 0 auto;
		padding:0px;
		float:none;
	}
	.bodytext{
		width:300px;
		margin:0 auto;
		margin-top: 50px;
		float:none;
	}
	#foot {
		width: 100%;
		height: 50px;
		background-color: #192c56;
		overflow-y:hidden;
		margin-top: 150px;
	}
	.footercontainer{
		width:900px;
		height:100%;
		margin: 0 auto;
	}
		.contact{
	display:none;
	}
	.products{
		display:none;
	}
	.about{
		display:none;
	}
	.footerheader{
		display:none;
	}
	.footertext{
		display:none;
	}
	.footericon{
		display:none;
	}
	.footertextemail{
		display:none;
	}
	.footertextphone{
		display: none;
	}
	.topbutton{
		display: none;
	}
}
@media screen and (max-width: 320px){
	.logo {
		width: 300px;
	}
	#wrapper{
		width:250px;
	}
	.sidebar{
		width:250px;
		text-align:center;
	}
	.bodytext{
		width:250px;
	}
}
