@charset "utf-8";
/* CSS Document */
html {
  height: 100%;
  font-size: 100%;
  overflow:hidden;
}
/*Navigation Bar*/
header{
	position:fixed;
	width:100%;
	height:100px;
	margin:0 auto;
	background-color:white;
}
#headerwrap{
	width:85%;
	height:90%;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	/*border:1px solid red;*/
	margin: 0 auto;
}
h1{
	font-family: Play;
	font-size:30pt;
	font-weight:700;
	color: #335540;
	border-bottom: 10px double;
}
h2{
	font-family: Play;
	font-size:30pt;
	font-weight:700;
	color: white;
	border-bottom: 10px double;
}
#infobar{
	width:100%;
	height: 20px;
	background-color:#335540;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	/*border: 1px solid yellow;*/
}
#infowrap{
	width:40%;
	margin:0 auto;
	/*border:1px solid yellow;*/
	text-align: center;
	float: right;
}
#infobar span{
	color: white;
	margin: 0px 0px 0px 40px;
	/*border: 1px solid aqua;*/
	display: inline block;
	
}
#fullnav{
	float:right;
	margin: 0 auto;
	margin-top:20px;
	padding: 0px;
	/*border: 1px solid aqua;*/
}
#fullnav a{
	padding: 0px 30px 0px 0px;
	font-family: Play;
	font-size:16pt;
	font-weight: 700;
	text-decoration:none;
	color:#335540;
	transition:0.5s;
}
#fullnav a:hover{
	color:#f5d553;
	cursor: pointer;
	font-size:18pt;
}
nav span{
	color:#f5d553;
}
.topnav{
	display:none;
}
.logo{
	float:left;
	height:80%;
	margin-top:5px;
}
/*Main Body*/

/*General*/
body {
	margin:0px;
	padding:0px;
	overflow: scroll;
	height:100%;
	font-family:Roboto;
	background-image: url('../images/bg_pattern_test3.png');
}



/*SECTION CONTROLS*/
#bigwrap{
	margin:0 auto;
	margin-top:100px;
	padding:5px;
	width:75%;
}
.section{
	width:90%;
	height:100%;
	margin:0 auto;
	margin-top:50px;
	margin-bottom:50px;
	border:2px solid #335540;
	text-align:center;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	background-color:#3e674d;
	background-image:url("../images/bg_pattern_test5.png");
	background-size: cover;
	
}
.textwrapper{
	width:40%;
	font-family: Roboto;
	color: #ffffff;
	font-size:12pt;
	margin:0px 20px 0px 0px;
	/*border:1px solid pink;*/
	background-color: rgba(51, 85, 64, 1);padding:20px;
}
.textwrapper ul{
	text-align:left;
}
.textwrapper p{
	text-align:left;
}

.imagewrapper{
	width:40%;
	margin:20px 0px 20px 20px;
	background-color: rgba(237, 237, 237, 0.6);padding:20px;
	/*border:1px solid pink;*/
}
/*IMAGE VIEWER*/
.imgStyle{
	height:68px;
	width:68px;
	border:3px solid rgba(25, 44, 86, 0);
}
#myDiv1{
	
}
#myDiv2{
	
}
#myDiv3{
}
#mainImage1{
		width:100%;
	}
	#mainImage2{
		width:100%;
	}
	#mainImage3{
		width:100%;
	}
	#mainImage4{
		width:100%;
	}
	#mainImage5{
		width:100%;
	}
	#mainImage6{
		width:100%;
	}
/*text*/
.header{
	font-family: Play;
	font-size:21pt;
	font-weight:700;
	color: #f5d553;
}
hr{
	border:none;
	height:1px;
	color: #1f6db6;
	background-color:#1f6db6;
}
/*Footer*/
footer{
	background-color: #335540;
	height:100px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#footerwrap{
	width:1050px;
	height:80%;
	/*border: 1px solid orange;*/
	margin:0 auto;
	display:flex;
	justify-content:center;
	
}
#footersection{
	float:left;
	width:60%;
	height:70%;
	/*border: 1px solid aqua;*/
	margin:auto;
	display:inline-block;	
}
#footersocial{
	float:right;
	width:30%;
	height:70%;
	/*border: 1px solid aqua;*/
	margin:auto;
	display:inline-block;
}
footer a {
	color:white;
	text-decoration:none;
	font-family:Roboto;
	font-size:12pt;
	margin: 0px 0px 0px 20px;
}
.socials{
	width:50px;
	height:50px;
	float:left;
	margin-right:7px;
}

/*LARGE TABLET*/
@media (max-width: 1024px){
	/*Navigation Bar*/
header{
	position:fixed;
	width:100%;
	height:100px;
	margin:0 auto;
	background-color:white;
}
#headerwrap{
	width:95%;
	height:90%;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	/*border:1px solid red;*/
	margin: 0 auto;
}
h1{
	font-family: Play;
	font-size:30pt;
	font-weight:700;
	color: #335540;
	border-bottom: 10px double;
}
h2{
	font-family: Play;
	font-size:30pt;
	font-weight:700;
	color: white;
	border-bottom: 10px double;
}
#infobar{
	width:100%;
	height: 20px;
	background-color:#335540;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	/*border: 1px solid yellow;*/
}
#infowrap{
	width:45%;
	margin:0 auto;
	/*border:1px solid yellow;*/
	text-align: center;
	float: right;
}
#infobar span{
	color: white;
	margin: 0px 0px 0px 40px;
	/*border: 1px solid aqua;*/
	display: inline block;
	
}
#fullnav{
	float:right;
	margin: 0 auto;
	margin-top:20px;
	padding: 0px;
	/*border: 1px solid aqua;*/
}
#fullnav a{
	padding: 0px 10px 0px 0px;
	font-family: Play;
	font-size:15pt;
	font-weight: 700;
	text-decoration:none;
	color:#335540;
	transition:0.5s;
}
#fullnav a:hover{
	color:#f5d553;
	cursor: pointer;
	font-size:18pt;
}
nav span{
	color:#f5d553;
}
.topnav{
	display:none;
}
.logo{
	float:left;
	height:70%;
	
}
/*General*/
body {
	margin:0px;
	padding:0px;
	overflow: scroll;
	height:100%;
	font-family:Roboto;
	background-image: url('../images/bg_pattern_test3.png');
}
/*SECTION CONTROLS*/
#bigwrap{
	margin:0 auto;
	margin-top:100px;
	padding:5px;
	width:75%;
}
.section{
	width:100%;
	height:100%;
	margin:0 auto;
	margin-top:50px;
	margin-bottom:50px;
	border:2px solid #335540;
	text-align:center;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	background-color:#3e674d;
	background-image:url("../images/bg_pattern_test5.png");
	background-size: cover;
	
}
.textwrapper{
	width:425px;
	font-family: Roboto;
	color: #ffffff;
	font-size:12pt;
	margin:20px 0px 0px 0px;
	/*border:1px solid pink;*/
	background-color: rgba(51, 85, 64, 1);padding:20px;
}
.textwrapper ul{
	text-align:left;
}
.textwrapper p{
	text-align:left;
}

.imagewrapper{
	width:385px;
	margin:20px 0px 20px 0px;
	background-color: rgba(237, 237, 237, 0.6);padding:20px;
	/*border:1px solid pink;*/
}
/*IMAGE VIEWER*/
.imgStyle{
	height:68px;
	width:68px;
	border:3px solid rgba(25, 44, 86, 0);
}
#myDiv1{
	width:390px;
}
#myDiv2{
	width:390px;
}
#myDiv3{
	width:390px;
}
#mainImage1{
		width:100%;
	}
	#mainImage2{
		width:100%;
	}
	#mainImage3{
		width:100%;
	}
	#mainImage4{
		width:100%;
	}
	#mainImage5{
		width:100%;
	}
	#mainImage6{
		width:100%;
	}
/*text*/
.header{
	font-family: Play;
	font-size:21pt;
	font-weight:700;
	color: #f5d553;
}
hr{
	border:none;
	height:1px;
	color: #1f6db6;
	background-color:#1f6db6;
}
}
/*TABLET*/
@media (max-width: 768px){
	/*NAVIGATION*/
	header{
	position:fixed;
	width:100%;
	height:75px;
	margin:0 auto;
	background-color:white;
}
	#headerwrap{
		/*border:1px solid red;*/
		width:100%;
		height:100%;
		flex-direction: row;
    	flex-wrap: wrap;
    	justify-content: none;
    	align-items: none;
		background-color:white;
}
	#infobar{
	display:flex;
	}
	
	#infowrap{
	width:80%;
	margin:0 auto;
	/*border:1px solid yellow;*/
	text-align: center;
	
}
	.logo{
		height:100%;
		display:block;
		/*border:1px solid blue;*/
		float:left;
		margin:0 auto;
		padding:0px;
		background-color:white;
	}
	#fullnav{
		margin:0 auto;
		padding:0px;
		text-align:center;
		display:none;
		float: none;
		width:100%;
	}
	#fullnav a{
		display:inline-block;
		/*border:1px solid blue;*/
		background-color:#335540;
		color:white;
		width:100%;
		padding:5px 0px 5px 0px;
	}
	.burger{
		display:block;
		height:100%;
		background:url(../images/burger1.png) no-repeat 98% center;
		background-color:white;
		/*border:1px solid blue;*/
		cursor: pointer;
	}
	/*SECTION CONTROLS*/
#bigwrap{
	margin:0 auto;
	margin-top:100px;
	padding:0px;
	width:100%;
	/*border:1px solid orange;*/
}
.section{
	width:100%;
	height:100%;
	margin:0 auto;
	margin-top:0px;
	margin-bottom:50px;
	border:none;
	text-align:center;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	background-color:#3e674d;
	background-image:url("../images/bg_pattern_test5.png");
	background-size: cover;
	
}
.textwrapper{
	width:450px;
	font-family: Roboto;
	color: #ffffff;
	font-size:12pt;
	margin:10px 10px 10px 10px;
	/*border:1px solid pink;*/
	background-color: rgba(51, 85, 64, 1);padding:20px;
}
.textwrapper ul{
	text-align:left;
}
.textwrapper p{
	text-align:left;
}

.imagewrapper{
	width:450px;
	margin:0px 10px 10px 10px;
	background-color: rgba(237, 237, 237, 0.6);padding:20px;
	/*border:1px solid pink;*/
}
/*IMAGE VIEWER*/
.imgStyle{
	height:80px;
	width:80px;
	border:3px solid rgba(25, 44, 86, 0);
}
	#mainImage1{
		width:100%;
	}
	#mainImage2{
		width:100%;
	}
	#mainImage3{
		width:100%;
	}
	#mainImage4{
		width:100%;
	}
	#mainImage5{
		width:100%;
	}
	#mainImage6{
		width:100%;
	}
#myDiv1{
	width:100%;
	/*border:1px solid pink;*/
}
#myDiv2{
	width:100%;
	/*border:1px solid pink;*/
}
#myDiv3{
	width:100%;
	/*border:1px solid pink;*/
}
/*text*/
.header{
	font-family: Play;
	font-size:21pt;
	font-weight:700;
	color: #f5d553;
}
hr{
	border:none;
	height:1px;
	color: #1f6db6;
	background-color:#1f6db6;
}
	footer{
	display:none;
}
}
/*MOBILE*/
@media (max-width: 480px){

/*NAVIGATION*/
	#bigwrap{
	width:90%;
}
	header{
	position:fixed;
	width:100%;
	height:50px;
	margin:0 auto;
	background-color:white;
}
	#headerwrap{
		/*border:1px solid red;*/
		width:100%;
		height:100%;
		flex-direction: row;
    	flex-wrap: wrap;
    	justify-content: none;
    	align-items: none;
}
	#infobar{
		display:flex;
		align-items:center;
		justify-content:center;
		margin:0 auto;
	}
	#infowrap{
	width:90%;
	margin:0 auto;
	/*border:1px solid yellow;*/
	text-align: center;
	font-size:10pt;
	float:none;
	
}
	.logo{
		height:100%;
		display:block;
		/*border:1px solid blue;*/
		float:left;
		margin:0px;
		padding:0px;
		background-color:white;
	}
	#fullnav{
		margin:0 auto;
		padding:0px;
		text-align:center;
		display:none;
	}
	#fullnav a{
		display:inline-block;
		/*border:1px solid blue;*/
		background-color:#335540;
		color:white;
		width:100%;
		padding:5px 0px 5px 0px;
	}
	.burger{
		display:block;
		height:100%;
		
		background:url(../images/burger1.png) no-repeat 98% center;
		background-color:white;
		/*border:1px solid blue;*/
		cursor: pointer;
	}
	
	/*SECTION CONTROLS*/
#bigwrap{
	margin:0 auto;
	margin-top:100px;
	padding:0px;
	width:100%;
	/*border:1px solid orange;*/
}
.section{
	width:100%;
	height:100%;
	margin:0 auto;
	margin-top:0px;
	margin-bottom:50px;
	border:none;
	text-align:center;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	background-color:#3e674d;
	background-image:url("../images/bg_pattern_test5.png");
	background-size: cover;
	
}
.textwrapper{
	width:100%;
	font-family: Roboto;
	color: #ffffff;
	font-size:12pt;
	margin:10px 10px 10px 10px;
	/*border:1px solid pink;*/
	background-color: rgba(51, 85, 64, 1);padding:20px;
}
.textwrapper ul{
	text-align:left;
}
.textwrapper p{
	text-align:left;
}

.imagewrapper{
	width:100%;
	margin:0px 10px 10px 10px;
	background-color: rgba(237, 237, 237, 0.6);padding:20px;
	/*border:1px solid pink;*/
}
/*IMAGE VIEWER*/
.imgStyle{
	height:80px;
	width:80px;
	border:3px solid rgba(25, 44, 86, 0);
}
	#mainImage1{
		width:100%;
	}
	#mainImage2{
		width:100%;
	}
	#mainImage3{
		width:100%;
	}
	#mainImage4{
		width:100%;
	}
	#mainImage5{
		width:100%;
	}
	#mainImage6{
		width:100%;
	}
#myDiv1{
	width:100%;
	/*border:1px solid pink;*/
}
#myDiv2{
	width:100%;
	/*border:1px solid pink;*/
}
#myDiv3{
	width:100%;
	/*border:1px solid pink;*/
}
/*text*/
.header{
	font-family: Play;
	font-size:21pt;
	font-weight:700;
	color: #f5d553;
}
hr{
	border:none;
	height:1px;
	color: #1f6db6;
	background-color:#1f6db6;
}
	footer{
	display:none;
}
}

