@charset "utf-8";
@import url("fabricgallery.css");
html {
  height: 100%;
  font-size: 100%;
  overflow:hidden;
}
/*Navigation Bar*/
header{
	position:fixed;
	width:100%;
	height:100px;
	margin:0 auto;
	background-color:white;
}
#headerwrap{
	width:85%;
	height:90%;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	/*border:1px solid red;*/
	margin: 0 auto;
}
h1{
	font-family: Play;
	font-size:30pt;
	font-weight:700;
	color: #335540;
	border-bottom: 10px double;
}
h2{
	font-family: Play;
	font-size:30pt;
	font-weight:700;
	color: white;
	border-bottom: 10px double;
}
#infobar{
	width:100%;
	height: 20px;
	background-color:#335540;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	/*border: 1px solid yellow;*/
}
#infowrap{
	width:40%;
	margin:0 auto;
	/*border:1px solid yellow;*/
	text-align: center;
	float: right;
}
#infobar span{
	color: white;
	margin: 0px 0px 0px 40px;
	/*border: 1px solid aqua;*/
	display: inline block;
	
}
#fullnav{
	float:right;
	margin: 0 auto;
	margin-top:20px;
	padding: 0px;
	/*border: 1px solid aqua;*/
}
#fullnav a{
	padding: 0px 30px 0px 0px;
	font-family: Play;
	font-size:16pt;
	font-weight: 700;
	text-decoration:none;
	color:#335540;
	transition:0.5s;
}
#fullnav a:hover{
	color:#f5d553;
	cursor: pointer;
	font-size:18pt;
}
nav span{
	color:#f5d553;
}
.topnav{
	display:none;
}
.logo{
	float:left;
	height:80%;
	margin-top:5px;
}
body {
	margin:0px;
	padding:0px;
	overflow: scroll;
	height:100%;
	font-family:Roboto;
	background-image: url('../images/bg_pattern_test3.png');
}
#bigwrap{ 
	margin: 0 auto;
	/*border: 1px solid red;*/
	width:100%;
}
#gallerywrap{
	width:100%;
	height: 100%;
	/*border: 3px solid blue;*/
	/*border: 3px solid transparent;
	border-image: url(../images/border_test.png) 3 round;*/
	margin: 0 auto;
	margin-top:150px;
	margin-bottom: 50px;
}
#gallery1{
	width:100%;
	height:100%;
	/*border: 1px solid pink;*/
	margin: 0 auto;
	display: flex;
	justify-content: center;
	background-color:#335540;
	
}
#gallery2{
	width:1000px;
	height:100%;
	
	
	/*border-top: 3px solid transparent;
	border-image: url(../images/border_test.png) 3 round;*/
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-color:#335540;*/
	/*border:1px solid pink;*/
	
}
#gallery2-2{
	display:none;
}
#gallery2-3{
	display:none;
}

#gallery3{
	width:100%;
	height:400px;
	/*border: 1px dashed green;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
#gallery3-2{
	display:none;
}
#gallery3-3{
	display:none;
}
.bigthumb{
	width:110px;
	height:110px;
	margin:10px;
	transition:0.5s;
}
.bigthumb:hover{
	cursor:pointer;
	/*background-color:rgba(245,213,83, 0.5);*/
	width:125px;
	height:125px;
}
.thumbwrap{
	/*border:1px solid blue;*/
	text-align:center;
}
.smallthumb{
	width:70px;
	height:70px;
	transition:0.2s;
	margin:0 auto;
	
}
.smallthumb:hover{
	cursor: pointer;
	width:75px;
	height:75px;
}
#MainImg{	
	width:700px;
	height: 300px;
	border:2px solid #1A2D21;
}
#thumbnails{
	width:100%;
	height: 400px;
	/*border:1px solid orange;*/
}
.thumbnail{
	height:68px;
	width:68px;
}

/*Footer*/
footer{
	background-color: #335540;
	padding:20px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#footerwrap{
	width:1050px;
	height:80%;
	/*border: 1px solid orange;*/
	margin:0 auto;
	display:flex;
	
}
#footersection{
	float:left;
	width:60%;
	height:70%;
	/*border: 1px solid aqua;*/
	margin:auto;
		
	
	text-align:left;
}
#footersocial{
	float:right;
	width:30%;
	height:70%;
	/*border: 1px solid aqua;*/
	margin:auto;
}
#footerbutton{
	margin:auto;
	display:inline-block;
}
footer a {
	color:white;
	text-decoration:none;
	font-family:Roboto;
	font-size:12pt;
	margin: 0px 0px 0px 10px;
	transition:0.2s;
}
footer a:hover{
	color:#f5d553;
	font-size:13pt;
}
.socials{
	width:40px;
	height:40px;
	float:right;
	margin: 0px 3px 0px 3px;
	transition:0.2s;
}
.socials:hover{
	width:45px;
	height:45px;
}
.topbutton{
	width:60px;
	transition:0.2s;
}
.topbutton:hover{
	width:65px;
}

/*LARGE TABLET*/
@media (max-width: 1024px){
	header{
	position:fixed;
	width:100%;
	height:100px;
	margin:0 auto;
	background-color:white;
}
#headerwrap{
	width:95%;
	height:90%;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	/*border:1px solid red;*/
	margin: 0 auto;
}
h1{
	font-family: Play;
	font-size:30pt;
	font-weight:700;
	color: #335540;
	border-bottom: 10px double;
}
h2{
	font-family: Play;
	font-size:30pt;
	font-weight:700;
	color: white;
	border-bottom: 10px double;
}
#infobar{
	width:100%;
	height: 20px;
	background-color:#335540;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	/*border: 1px solid yellow;*/
}
#infowrap{
	width:45%;
	margin:0 auto;
	/*border:1px solid yellow;*/
	text-align: center;
	float: right;
}
#infobar span{
	color: white;
	margin: 0px 0px 0px 40px;
	/*border: 1px solid aqua;*/
	display: inline block;
	
}
#fullnav{
	float:right;
	margin: 0 auto;
	margin-top:20px;
	padding: 0px;
	/*border: 1px solid aqua;*/
}
#fullnav a{
	padding: 0px 10px 0px 0px;
	font-family: Play;
	font-size:15pt;
	font-weight: 700;
	text-decoration:none;
	color:#335540;
	transition:0.5s;
}
#fullnav a:hover{
	color:#f5d553;
	cursor: pointer;
	font-size:18pt;
}
nav span{
	color:#f5d553;
}
.topnav{
	display:none;
}
.logo{
	float:left;
	height:70%;
	
}
body {
	margin:0px;
	padding:0px;
	overflow: scroll;
	height:100%;
	font-family:Roboto;
	background-image: url('../images/bg_pattern_test3.png');
}
#bigwrap{ 
	margin: 0 auto;
	/*border: 1px solid red;*/
	width:100%;
}
#gallerywrap{
	width:100%;
	height: 100%;
	/*border: 1px solid blue;*/
	/*border: 3px solid transparent;
	border-image: url(../images/border_test.png) 3 round;*/
	margin: 0 auto;
	margin-top:150px;
	margin-bottom: 50px;
}
#gallery1{
	width:100%;
	height:100%;
	/*border: 1px solid pink;*/
	margin: 0 auto;
	display: flex;
	justify-content: center;
	background-color:#335540;
	
}
#gallery2{
	width:90%;
	height:100%;
	/*border-top: 3px solid transparent;
	border-image: url(../images/border_test.png) 3 round;*/
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-color:#335540;*/
	/*border:1px solid pink;*/
	
}
#gallery2-2{
	display:none;
}
#gallery2-3{
	display:none;
}

#gallery3{
	width:100%;
	height:400px;
	/*border: 1px dashed green;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
#gallery3-2{
	display:none;
}
#gallery3-3{
	display:none;
}
.bigthumb{
	width:80px;
	height:80px;
	margin:10px;
	transition:0.5s;
}
.bigthumb:hover{
	cursor:pointer;
	/*background-color:rgba(245,213,83, 0.5);*/
	width:125px;
	height:125px;
}
.thumbwrap{
	/*border:1px solid blue;*/
	text-align:center;
}
.smallthumb{
	width:70px;
	height:70px;
	transition:0.2s;
	margin:0 auto;
	
}
.smallthumb:hover{
	cursor: pointer;
	width:75px;
	height:75px;
}
#MainImg{	
	width:700px;
	height: 300px;
	border:2px solid #1A2D21;
}
#thumbnails{
	width:100%;
	height: 400px;
	/*border:1px solid orange;*/
}
.thumbnail{
	height:68px;
	width:68px;
}
}
/*TABLET*/
@media (max-width: 768px){
/*NAVIGATION*/
	header{
	position:fixed;
	width:100%;
	height:75px;
	margin:0 auto;
	background-color:white;
}
	#headerwrap{
		/*border:1px solid red;*/
		width:100%;
		height:100%;
		flex-direction: row;
    	flex-wrap: wrap;
    	justify-content: none;
    	align-items: none;
		background-color:white;
}
	#infobar{
	display:flex;
	}
	
	#infowrap{
	width:80%;
	margin:0 auto;
	/*border:1px solid yellow;*/
	text-align: center;
	
}
	.logo{
		height:100%;
		display:block;
		/*border:1px solid blue;*/
		float:left;
		margin:0 auto;
		padding:0px;
		background-color:white;
	}
	#fullnav{
		margin:0 auto;
		padding:0px;
		text-align:center;
		display:none;
		float: none;
		width:100%;
	}
	#fullnav a{
		display:inline-block;
		/*border:1px solid blue;*/
		background-color:#335540;
		color:white;
		width:100%;
		padding:5px 0px 5px 0px;
	}
	.burger{
		display:block;
		height:100%;
		background:url(../images/burger1.png) no-repeat 98% center;
		background-color:white;
		/*border:1px solid blue;*/
		cursor: pointer;
	}
	
body {
	margin:0px;
	padding:0px;
	overflow: scroll;
	height:100%;
	font-family:Roboto;
	background-image: url('../images/bg_pattern_test3.png');
}
#bigwrap{ 
	margin: 0 auto;
	border: none;
	width:100%;
}
#gallerywrap{
	width:100%;
	height: 100%;
	/*border: 1px solid blue;*/
	/*border: 3px solid transparent;
	border-image: url(../images/border_test.png) 3 round;*/
	margin: 0 auto;
	margin-top:100px;
	margin-bottom: 50px;
}
#gallery1{
	width:100%;
	height:100%;
	border: none;
	margin: 0 auto;
	display: inline-block;
	text-align:center;
	background-color:#335540;
	
}
#gallery2{
	display:none;
	
}
#gallery2-2{
	display:none;
}
#gallery2-3{
	width:80%;
	height:100%;
	/*border-top: 3px solid transparent;
	border-image: url(../images/border_test.png) 3 round;*/
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-color:#335540;*/
	border:none;
	
}

#gallery3{
	display:none;
	
}
#gallery3-2{
	display:none;
}
#gallery3-3{
	width:450px;
	height:450px;
	/*border: 1px dashed green;*/
	display: flex;
	justify-content: center;
	align-items: center;
	
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
	
}
.bigthumb{
	width:80px;
	height:80px;
	margin:0 auto;
	margin:5px;
	transition:0.5s;
}
.bigthumb:hover{
	cursor:pointer;
	/*background-color:rgba(245,213,83, 0.5);*/
	width:125px;
	height:125px;
}
.thumbwrap{
	/*border:1px solid blue;*/
	text-align:center;
}
.smallthumb{
	width:50px;
	height:50px;
	transition:0.2s;
	margin:0 auto;
	
}
.smallthumb:hover{
	cursor: pointer;
	width:55px;
	height:55px;
}
#MainImg{	
	width:100%;
	height: 100%;
	border:2px solid #1A2D21;
}
#MainImg2{	
	width:100%;
	height: 100%;
	border:2px solid #1A2D21;
}
#MainImg3{	
	width:100%;
	height: 100%;
	border:2px solid #1A2D21;
}
#thumbnails{
	width:100%;
	height: 400px;
	/*border:1px solid orange;*/
}
.thumbnail{
	height:68px;
	width:68px;
}
	
	footer{
		display:none;
	}
	
}


/*MOBILE*/
@media (max-width: 480px){

/*NAVIGATION*/
	header{
	position:fixed;
	width:100%;
	height:50px;
	margin:0 auto;
	background-color:white;
}
	#headerwrap{
		/*border:1px solid red;*/
		width:100%;
		height:100%;
		flex-direction: row;
    	flex-wrap: wrap;
    	justify-content: none;
    	align-items: none;
}
	#infobar{
		display:none;
	}
	.logo{
		height:100%;
		display:block;
		/*border:1px solid blue;*/
		float:left;
		margin:0px;
		padding:0px;
	}
	#fullnav{
		margin:0 auto;
		padding:0px;
		text-align:center;
		display:none;
	}
	#fullnav a{
		display:inline-block;
		/*border:1px solid blue;*/
		background-color:#335540;
		color:white;
		width:100%;
		padding:5px 0px 5px 0px;
	}
	.burger{
		display:block;
		height:100%;
		
		background:url(../images/burger1.png) no-repeat 98% center;
		/*border:1px solid blue;*/
		cursor: pointer;
	}
	
body {
	margin:0px;
	padding:0px;
	overflow: scroll;
	height:100%;
	font-family:Roboto;
	background-image: url('../images/bg_pattern_test3.png');
}
#bigwrap{ 
	margin: 0 auto;
	border: none;
	width:100%;
}
#gallerywrap{
	width:100%;
	height: 100%;
	/*border: 1px solid blue;*/
	/*border: 3px solid transparent;
	border-image: url(../images/border_test.png) 3 round;*/
	margin: 0 auto;
	margin-top:100px;
	margin-bottom: 50px;
}
#gallery1{
	width:100%;
	height:100%;
	border: none;
	margin: 0 auto;
	display: inline-block;
	text-align:center;
	background-color:#335540;
	
}
#gallery2{
	display:none;
	
}
#gallery2-2{
	width:90%;
	height:100%;
	/*border-top: 3px solid transparent;
	border-image: url(../images/border_test.png) 3 round;*/
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#335540;
	border:none;
}
#gallery2-3{
	display:none;
	
}
#gallery3{
	display:none;	
}
#gallery3-2{
	width:300px;
	height:450px;
	/*border: 1px dashed green;*/
	display: flex;
	justify-content: center;
	align-items: center;
	
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;	
}
#gallery3-3{
	display:none;	
}
.bigthumb{
	width:60px;
	height:60px;
	margin:0 auto;
	margin:5px;
	transition:0.5s;
}
.bigthumb:hover{
	cursor:pointer;
	/*background-color:rgba(245,213,83, 0.5);*/
	width:125px;
	height:125px;
}
.thumbwrap{
	/*border:1px solid blue;*/
	text-align:center;
}
.smallthumb{
	width:40px;
	height:40px;
	transition:0.2s;
	margin:0 auto;
	
}
.smallthumb:hover{
	cursor: pointer;
	width:50px;
	height:50px;
}
#MainImg{	
	width:100%;
	height: 100%;
	border:2px solid #1A2D21;
}
#MainImg2{	
	width:100%;
	height: 100%;
	border:2px solid #1A2D21;
}
#thumbnails{
	width:100%;
	height: 400px;
	/*border:1px solid orange;*/
}
.thumbnail{
	height:68px;
	width:68px;
}
	
	footer{
		display:none;
	}
	
}

