@charset "utf-8";
html {
  height: 100%;
  font-size: 100%;
  overflow:hidden;
}

/*Navigation Bar*/
header{
	position:fixed;
	width:100%;
	height:100px;
	margin:0 auto;
	background-color:white;
	/*border:1px solid red;*/
}
#headerwrap{
	width:85%;
	height:90%;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	/*border:1px solid red;*/
	margin: 0 auto;
}
h1{
	font-family: Play;
	font-size:30pt;
	font-weight:700;
	color: #335540;
	border-bottom: 10px double;
}
h2{
	font-family: Play;
	font-size:30pt;
	font-weight:700;
	color: white;
	border-bottom: 10px double;
}
h3{
	font-family:Play;
	font-size:15pt;
	font-weight:700;
	color:black;
}
h4{
	font-family:Roboto;
	font-size:13pt;
	font-weight:700;
	color:black;
	border-bottom:3px solid black;
}
h5{
	font-family:Play;
	font-size:23pt;
	font-weight:700;
	color:#f5d553;	
}
h6{
	font-family:Play;
	font-size:15pt;
	font-weight:700;
	color:#f5d553;
}
#infobar{
	width:100%;
	height: 20px;
	background-color:#335540;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	/*border: 1px solid yellow;*/
}
#infowrap{
	width:40%;
	margin:0 auto;
	/*border:1px solid yellow;*/
	text-align: center;
	float: right;
}
#infobar span{
	color: white;
	margin: 0px 0px 0px 40px;
	/*border: 1px solid aqua;*/
	display: inline block;
	
}
#fullnav{
	float:right;
	margin: 0 auto;
	margin-top:20px;
	padding: 0px;
	/*border: 1px solid aqua;*/
}
#fullnav a{
	padding: 0px 30px 0px 0px;
	font-family: Play;
	font-size:16pt;
	font-weight: 700;
	text-decoration:none;
	color:#335540;
	transition:0.5s;
}
#fullnav a:hover{
	color:#f5d553;
	cursor: pointer;
	font-size:18pt;
}
nav span{
	color:#f5d553;
}
.topnav{
	display:none;
}
.logo{
	float:left;
	height:80%;
	margin-top:5px;
}

/*Main Body*/

/*General*/
body {
	
	margin:0px;
	padding:0px;
	overflow: scroll;
	height:100%;
	font-family:Roboto;
	background-image: url('../images/bg_pattern_test3.png');
	/*border:1px solid red;*/
}
#bigwrap{ 
	margin: 0 auto;
	width:100%;
	/*border:1px solid blue;*/
}

/*Portfolio Page*/
/*Gallery Layout*/
#portfoliowrap{
	margin: 0 auto;
	display:inline;
	height: 100%;
	/*border: 1px solid blue;*/
	justify-content: center;
}
#portfoliowrap2{
	margin:0 auto;
	margin-top:100px;
	margin-bottom:100px;
	width:80%;
	display:flex;
}
.row>.column{
	padding:0 8px;
	margin:0 auto;
}
.row:after{
	content: "";
	display:table;
	clear:both;
	margin: 0 auto;
}
.column{
	margin:0 auto;
	float:left;
	width:20%;
	/*border: solid 1px pink;*/
}
.column img{
	margin:0 auto;
	/*border: solid 1px black;*/
	display: flex;
	width:100%;
	transition:0.7s;
}
.column img:hover{
	background-color:rgba(245,213,83, 0.2);
	cursor:pointer;
}

/*Modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.7);
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
.close {
  color: #335540;
  float:right;
  margin:0px 10px 0px 0px;
  font-size: 35px;
  font-weight: bold;
  transition:0.2s;
}

.close:hover,
.close:focus {
  color: #f5d553;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #335540;
  background-color: rgba(245, 213, 45, 0.3);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(245, 213, 45, 0.8);
}
.numbertext {
  color: #335540;
  font-family: Roboto;
  font-weight: 700;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Landing Page*/
#landingsection{
	background-image:url("../images/landing6.png");
	/*background-color: blue;*/
	background-repeat:no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	width:100%;
	height:700px;
	margin: 0 auto;
	/*border:1px solid orange;*/
}
#landingwrap1{
	margin: 0 auto;
	margin-top:-140px;
	margin-right:60px;
	width:45%;
	padding:20px;
	background-color:rgba(51, 85, 64, 0.6);
}
.landingtext1{
	font-family: Roboto;
	font-weight: 500;
	font-size: 24pt;
	color: white;
}
.landingtext2{
	font-family: Play;
	font-weight: 700;
	font-size: 36pt;
	color: white;
}
.landingtext2 span{
	color:#f5d553;
}
.button{
	display:inline-block;
	width:170px;
	height:40px;
	font-family:Roboto;
	font-weight:700;
	font-size:16pt;
	color:#335540;
	background-color:#f5d553;
	margin-top:20px;
	padding:5px;
	margin-right:25px;
	text-align:center;
	vertical-align:middle;
	line-height: 35px;
	transition:color 0.5s;
	}
.button:hover{
	Background-color:white;
	color:#f5d553;
	cursor: pointer;
}
#about{	
	padding: 70px 0px 70px 0px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#aboutwrap{
	width:950px;
	padding: 0px 50px 50px 50px;
	/*border: 1px solid orange;*/
	margin: 0 auto;
	text-align:center;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	
}
#aboutphoto{
	background-image:url("../images/aboutphoto0.png");
	background-repeat:no-repeat;
	background-size: cover;
	display:inline-block;
	height:450px;
	width:450px;
	/*border:1px solid aqua;*/
	margin:0 auto;
	float:left;
}
#abouttext{
	display:inline-block;
	height:400px;
	width: 450px;
	/*border:1px solid aqua;*/
	margin:0 auto;
	float:right;
}
#abouttextcontent p{
	text-align: left;
	font-family:Roboto;
}
#abouttextcontent span{
	font-family: Play;
	font-weight: 700;
	font-size: 16pt;
	text-align: center;
	color: #335540;
}
/*PROCESS SECTION*/
#process{
	background-image:url("../images/bg_pattern_test5.png");
	background-color: #3e674d;
	padding: 70px 0px 70px 0px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;	
}
#processwrap{
	width:1000px;
	padding: 0px 50px 50px 50px;
	/*border: 1px solid orange;*/
	margin: 0 auto;
	text-align:center;
}
#processwrap span{
	font-family:Play;
	Font-weight:700;
	font-size:16pt;
	
}
.processheader1{
	color:#f5d553;
}

.processheader2{
	color:black;
}
.processtext{
	/*border:1px solid aqua;*/
	margin:0 auto;
	padding:0px 0px 0px 0px;
	color:white;
}
#processsections{
	margin-top:20px;
	margin-bottom:20px;
	width:100%;
	/*border:1px solid red;*/
	justify-content: center;
    align-items: center;
	display:flex;
}
.processbox{
	width:30%;
	height:500px;
	/*border:1px solid aqua;*/
	margin:10px;
	text-align:center;
	background-color:rgba(237,237,237, 0.7);
	justify-content: center;
    align-items: center;
	display:flex;
}
.processboxinner{
	/*border:1px solid blue;*/
}

.processbutton{
	display:inline-block;
	width:170px;
	height:40px;
	font-family:Roboto;
	font-weight:500;
	font-size:16pt;
	color:white;
	background-color:#335540;
	margin-top:15px;
	text-align:center;
	vertical-align:middle;
	line-height: 35px;
	transition: 0.2s;
	}
.processbutton:hover{
	color:#335540;
	background-color:#f5d553;
	cursor: pointer;
}
.processbox p{
	font-family:Roboto;
	color: black;
	text-align:left;
	
}
.processimg{
	width:200px;
	height:200px;
	margin-bottom:10px;
	/*border:1px solid red;*/
	display:inline-block;
	/*background-color:#335540;*/
	padding:10px;
}
.processboxtext{
	/*border:1px solid orange;*/
	width:90%;
	margin:0 auto;
}

/*Cap Style Section*/
#capstyles{
	padding: 70px 0px 70px 0px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#capstylewrap{
	width:1000px;
	padding: 0px 50px 50px 50px;
	/*border: 1px solid orange;*/
	margin: 0 auto;
	text-align:center;
}
#capstyletext{
	/*border:1px solid aqua;*/
	margin:0 auto;
	padding:0px 0px 0px 0px;
	color:black;
}
#capstyles h2{
	color:#335540;
}
.capstylerow{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
	margin-top:50px;
}

.capstylecolumn{
    flex: 50%;
	margin-top:30px;
}
.capstylecolumn img{
	flex: 50%;
    padding: 0 4px;
	width:100%;
}
.capstylebox{
	margin-bottom:20px;
	height:350px;
		
}
.capstylebox span{
	font-family:Play;
	Font-size:16pt;
	font-weight:700;
	color:#335540;
}

.capstyleinner1{
	/*background-image:url("../images/capstylebanner1.png");*/
	background-image:url("../images/capstylebanner1.png");
	background-repeat:no-repeat;
	background-size: cover;
	background-color: #3e674d;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	width:100%;
	height:100%;
	margin: 0 auto;
}
.capstyleinner2{
	background-image:url("../images/capstylebanner2.png");
	background-repeat:no-repeat;
	background-size: cover;
	background-color: #3e674d;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	width:100%;
	height:100%;
	margin: 0 auto;
}
.capstyletext1{
	/*border:1px solid orange;*/
	width:500px;
	
	margin:0px 20px 0px 0px;
	padding:20px 10px 20px 10px;
	font-family:Roboto;
	color: black;
	background-color:rgba(255, 255, 255, 0.7);
	/*outline:solid 2px #f5d553;*/
}
.capstyletext1 p{
	text-align:left;
	display:flex;
}
.capstyletext2 p{
	text-align:left;
}
.capstyleimage1{
	width:300px;
	height:300px;
	/*border:1px solid pink;*/
	margin:0px 0px 0px 20px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.capstyleimage1 img{
	/*border:1px solid black;*/
}
.capstyletext2{
	/*border:1px solid orange;*/
	width:500px;
	margin:0px 20px 0px 0px;
	padding:20px 10px 20px 10px;
	font-family:Roboto;
	color: black;
	background-color:rgba(255, 255, 255, 0.7);
}
.capstyleimage2{
	width:300px;
	height:300px;
	/*border:1px solid pink;*/
	margin:0px 20px 0px 0px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.capstyleimage2 img{
	/*border:1px solid black;*/
}
.capstyleimage3{
	display:none;
}
.capstylebutton{
	display:inline-block;
	width:170px;
	height:40px;
	font-family:Roboto;
	font-weight:500;
	font-size:16pt;
	color:#ffffff;
	background-color:#335540;
	margin-top:15px;
	text-align:center;
	vertical-align:middle;
	line-height: 35px;
	transition: 0.2s;
	}
.capstylebutton:hover{
	color:#335540;
	background-color:#f5d553;
	cursor: pointer;
}

/*DECORATIONS SECTION*/
#decorations{
	background-image:url("../images/bg_pattern_test5.png");
	
	background-color: #3e674d;
	padding: 70px 0px 70px 0px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#decowrap{
	width:100%;
	max-width:1000px;
	padding: 0px 50px 50px 50px;
	margin: 0 auto;
	text-align:center;
	/*border:1px solid orange;*/
}
#decowrap2{
	display:none;
}
#decotext{
	/*border:1px solid aqua;*/
	margin:0 auto;
	padding:0px 0px 0px 0px;
	color:white;
}

.decosection{
	/*border:1px solid blue;*/
	width:100%;
	padding:0px;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	margin:10px 0px 0px 0px;
	background-color:rgba(237,237,237, 0.7);
}
.decocolumn{
	/*border:1px solid aqua;*/
	width:100%;
	height:100%;
	min-height:100%;
	margin:0px 5px 0px 5px;
	padding:10px;
	/*background-color:rgba(237,237,237, 0.7);*/
}
.decocolumn img{
	width:100%;
	height:100%;
	max-width:300px;
	border:3px solid #3e674d;
}
.decocolumn h4{
	/*border:1px solid pink;*/
	margin:0px 0px 10px 0px;
}
#decowrap h5{
	/*border:1px solid pink;*/
	margin:40px 0px 10px 0px;
}
#decowrap h6{
	/*border:1px solid pink;*/
	margin:40px 0px 0px 0px;
}

/*CONTACT FORM*/
#contact{
	padding: 70px 0px 70px 0px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#contactwrap{
	width:950px;
	padding: 0px 50px 50px 50px;
	/*border: 1px solid orange;*/
	margin: 0 auto;
	text-align:center;
	
}
div.contactform {
	border:7px solid #335540;
	width:450px;
	display:inline-block;
	background-color:#335540;
}
input.text{
	height:30px;
	width:90%;
	border-radius: 0px;
	border:none;
	
}
textarea.message{
	height:150px;
	width:90%;
	border-radius: 0px;
	border:none;
}
input.submit{
	width:170px;
	height:40px;
	font-family: Roboto;
	font-size:12pt;
	font-weight: 700;
	color:white;
	Background-color:#335540;
	border: 2px solid white;
	border-radius: 0px;
	transition:border-color 0.2s;
	transition:color 0.2s;
}
input.submit:hover{
	border-color:#f5d553;
	color:#f5d553;
	cursor: pointer;
}
label{
	font-family: Play;
	font-weight: 700;
	color: #f5d553;
	float:left;
	margin-bottom:5px;
	margin-left: 20px;
}
#contact2{
	width:450px;
	/*border:1px solid aqua;*/
	display:inline-block;
	float:right;
	margin:0 auto;
}
#contact3{
	display:none;
}
.dash1{
	width:100%;
	border: 0 none;
	border-top: 2px dashed #335540;
	Background: none;
	height:0;
}
.dash2{
	width:100%;
	border: 0 none;
	border-top: 2px dashed white;
	Background: none;
	height:0;
}

/*Footer*/
footer{
	background-color: #335540;
	padding:20px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#footerwrap{
	width:1050px;
	height:80%;
	/*border: 1px solid orange;*/
	margin:0 auto;
	display:flex;
	
}
#footersection{
	float:left;
	width:60%;
	height:70%;
	/*border: 1px solid aqua;*/
	margin:auto;
		
	
	text-align:left;
}
#footersocial{
	float:right;
	width:30%;
	height:70%;
	/*border: 1px solid aqua;*/
	margin:auto;
}
#footerbutton{
	margin:auto;
	display:inline-block;
}
footer a {
	color:white;
	text-decoration:none;
	font-family:Roboto;
	font-size:12pt;
	margin: 0px 0px 0px 10px;
	transition:0.2s;
}
footer a:hover{
	color:#f5d553;
	font-size:13pt;
}
.socials{
	width:40px;
	height:40px;
	float:right;
	margin: 0px 3px 0px 3px;
	transition:0.2s;
}
.socials:hover{
	width:45px;
	height:45px;
}
.topbutton{
	width:60px;
	transition:0.2s;
}
.topbutton:hover{
	width:65px;
}


/*Media Queries*/

/*LARGE TABLET*/
@media (max-width: 1024px){
	/*Navigation Bar*/
header{
	position:fixed;
	width:100%;
	height:100px;
	margin:0 auto;
	background-color:white;
}
#headerwrap{
	width:95%;
	height:90%;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	/*border:1px solid red;*/
	margin: 0 auto;
}
h1{
	font-family: Play;
	font-size:30pt;
	font-weight:700;
	color: #335540;
	border-bottom: 10px double;
}
h2{
	font-family: Play;
	font-size:30pt;
	font-weight:700;
	color: white;
	border-bottom: 10px double;
}
#infobar{
	width:100%;
	height: 20px;
	background-color:#335540;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	/*border: 1px solid yellow;*/
}
#infowrap{
	width:45%;
	margin:0 auto;
	/*border:1px solid yellow;*/
	text-align: center;
	float: right;
}
#infobar span{
	color: white;
	margin: 0px 0px 0px 40px;
	/*border: 1px solid aqua;*/
	display: inline block;
	
}
#fullnav{
	float:right;
	margin: 0 auto;
	margin-top:20px;
	padding: 0px;
	/*border: 1px solid aqua;*/
}
#fullnav a{
	padding: 0px 10px 0px 0px;
	font-family: Play;
	font-size:15pt;
	font-weight: 700;
	text-decoration:none;
	color:#335540;
	transition:0.5s;
}
#fullnav a:hover{
	color:#f5d553;
	cursor: pointer;
	font-size:18pt;
}
nav span{
	color:#f5d553;
}
.topnav{
	display:none;
}
.logo{
	float:left;
	height:70%;
	
}

/*Main Body*/

/*General*/
body {
	margin:0px;
	padding:0px;
	overflow: scroll;
	height:100%;
	font-family:Roboto;
	background-image: url('../images/bg_pattern_test3.png');
}
#bigwrap{ 
	margin: 0 auto;
	width:100%;
}

/*Portfolio Page*/
/*Gallery Layout*/
#portfoliowrap{
	margin: 0 auto;
	display:inline;
	height: 100%;
	/*border: 1px solid blue;*/
	justify-content: center;
}
#portfoliowrap2{
	margin:0 auto;
	margin-top:100px;
	margin-bottom:100px;
	width:90%;
	display:flex;
	justify-content:center;
	text-align:center;
	align-items:center;
	/*border:1px solid red;*/
}

.row>.column{
	padding:0 8px;
	margin:0 auto;
	
}
.row:after{
	content: "";
	display:table;
	clear:both;
	margin: 0 auto;
}
.column{
	margin:0 auto;
	margin:0px 0px 0px 0px;
	width:33%;
	/*border: solid 1px pink;*/
}
.column img{
	margin:0 auto;
	/*border: solid 1px black;*/
	width:100%;
	display: flex;
	transition:0.7s;
}
.column img:hover{
	background-color:rgba(245,213,83, 0.2);
	cursor:pointer;
}

/*Modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.7);
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
.close {
  color: #335540;
  float:right;
  margin:0px 10px 0px 0px;
  font-size: 35px;
  font-weight: bold;
  transition:0.2s;
}

.close:hover,
.close:focus {
  color: #f5d553;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #335540;
  background-color: rgba(245, 213, 45, 0.3);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(245, 213, 45, 0.8);
}
.numbertext {
  color: #335540;
  font-family: Roboto;
  font-weight: 700;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Landing Page*/
#landingsection{
	background-image:url("../images/landing6.png");
	/*background-color: blue;*/
	/*border:1px solid blue;*/
	background-repeat:no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	width:100%;
	height:600px;
	margin-top:100px;
}
#landingwrap1{
	margin: 0px 0px 200px 250px;
	width:50%;
	padding:20px;
	background-color:rgba(51, 85, 64, 0.6);
}
.landingtext1{
	font-family: Roboto;
	font-weight: 500;
	font-size: 18pt;
	color: white;
}
.landingtext2{
	font-family: Play;
	font-weight: 700;
	font-size: 28pt;
	color: white;
}
.landingtext2 span{
	color:#f5d553;
}
.button{
	display:inline-block;
	width:170px;
	height:40px;
	font-family:Roboto;
	font-weight:700;
	font-size:14pt;
	color:#335540;
	background-color:#f5d553;
	margin:15px 15px 0px 0px;
	padding:0px;
	text-align:center;
	vertical-align:middle;
	line-height: 35px;
	transition:color 0.5s;
	}
.button:hover{
	Background-color:white;
	color:#f5d553;
	cursor: pointer;
}
#about{	
	padding: 0px 0px 0px 0px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#aboutwrap{
	width:90%;
	padding: 0px 0px 0px 0px;
	/*border: 1px solid orange;*/
	margin: 0 auto;
	text-align:center;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	
}
#aboutphoto{
	background-image:url("../images/aboutphoto0.png");
	background-repeat:no-repeat;
	background-size: cover;
	display:inline-block;
	height:330px;
	width:330px;
	/*border:1px solid aqua;*/
	margin:0 auto;
	float:left;
}
#abouttext{
	display:inline-block;
	height:100%;
	width: 48%;
	/*border:1px solid aqua;*/
	margin:0 auto;
	float:right;
}
#abouttextcontent p{
	text-align: left;
	font-family:Roboto;
}
#abouttextcontent span{
	font-family: Play;
	font-weight: 700;
	font-size: 16pt;
	text-align: center;
	color: #335540;
}
/*PROCESS SECTION*/
#process{
	width:100%;
	/*border:1px solid orange;*/
	padding: 0px 0px 0px 0px;
	display: flex;
	flex-direction: none;
    flex-wrap: none;
    justify-content: center;
    align-items: center;	
}
#processwrap{
	width:100%;
	padding: 0px 0px 0px 0px;
	/*border: 1px solid orange;*/
	margin: 0 auto;
	text-align:center;
}
#processwrap span{
	font-family:Play;
	Font-weight:700;
	font-size:16pt;
	
}
.processheader1{
	color:#f5d553;
}

.processheader2{
	color:black;
}
.processtext{
	/*border:1px solid aqua;*/
	margin:0 auto;
	padding:0px 0px 0px 0px;
	color:white;
}
#processsections{
	margin-top:20px;
	margin-bottom:20px;
	width:100%;
	/*border:1px solid red;*/
	justify-content: center;
    align-items: center;
	display:flex;
}
.processbox{
	width:30%;
	height:500px;
	/*border:1px solid aqua;*/
	margin:10px;
	text-align:center;
	background-color:rgba(237,237,237, 0.7);
	justify-content: center;
    align-items: center;
	display:flex;
}
.processboxinner{
	/*border:1px solid blue;*/
}

.processbutton{
	display:inline-block;
	width:170px;
	height:40px;
	font-family:Roboto;
	font-weight:500;
	font-size:16pt;
	color:white;
	background-color:#335540;
	margin-top:15px;
	text-align:center;
	vertical-align:middle;
	line-height: 35px;
	transition: 0.2s;
	}
.processbutton:hover{
	color:#335540;
	background-color:#f5d553;
	cursor: pointer;
}
.processbox p{
	font-family:Roboto;
	color: black;
	text-align:left;
	
}
.processimg{
	width:200px;
	height:200px;
	margin-bottom:0px;
	/*border:1px solid red;*/
	display:inline-block;
	/*background-color:#335540;*/
	padding:10px;
}
.processboxtext{
	/*border:1px solid orange;*/
	width:90%;
	margin:0 auto;
}

/*Cap Style Section*/
#capstyles{
	padding: 0px 0px 0px 0px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#capstylewrap{
	width:100%;
	padding: 0px 50px 50px 50px;
	/*border: 1px solid orange;*/
	margin: 0 auto;
	text-align:center;
}
#capstyletext{
	/*border:1px solid aqua;*/
	margin:0 auto;
	padding:0px 0px 0px 0px;
	color:black;
}
#capstyles h2{
	color:#335540;
}
.capstylerow{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
	margin-top:50px;
}

.capstylecolumn{
    flex: 50%;
	margin-top:30px;
}
.capstylecolumn img{
	flex: 50%;
    padding: 0 4px;
	width:100%;
}
.capstylebox{
	margin-bottom:20px;
	height:350px;
		
}
.capstylebox span{
	font-family:Play;
	Font-size:16pt;
	font-weight:700;
	color:#335540;
}

.capstyleinner1{
	/*background-image:url("../images/capstylebanner1.png");*/
	background-color: #3e674d;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	width:100%;
	height:100%;
	margin: 0 auto;
}
.capstyleinner2{
	background-color: #3e674d;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	width:100%;
	height:100%;
	margin: 0 auto;
}
.capstyletext1{
	/*border:1px solid orange;*/
	width:45%;
	
	margin:0px 20px 0px 0px;
	padding:20px 10px 20px 10px;
	font-family:Roboto;
	color: black;
	background-color:rgba(255, 255, 255, 0.7);
	/*outline:solid 2px #f5d553;*/
}
.capstyletext1 p{
	text-align:left;
	display:flex;
}
.capstyletext2 p{
	text-align:left;
}
.capstyleimage1{
	/*border:1px solid pink;*/
	margin:0px 0px 0px 20px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.capstyleimage1 img{
	/*border:1px solid black;*/
}
.capstyletext2{
	/*border:1px solid orange;*/
	width:45%;
	margin:0px 20px 0px 0px;
	padding:20px 10px 20px 10px;
	font-family:Roboto;
	color: black;
	background-color:rgba(255, 255, 255, 0.7);
}
.capstyleimage2{
	width:300px;
	height:300px;
	/*border:1px solid pink;*/
	margin:0px 20px 0px 0px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.capstyleimage2 img{
	/*border:1px solid black;*/
}
.capstyleimage3{
	display:none;
}
.capstylebutton{
	display:inline-block;
	width:170px;
	height:40px;
	font-family:Roboto;
	font-weight:500;
	font-size:16pt;
	color:#ffffff;
	background-color:#335540;
	margin-top:15px;
	text-align:center;
	vertical-align:middle;
	line-height: 35px;
	transition: 0.2s;
	}
.capstylebutton:hover{
	color:#335540;
	background-color:#f5d553;
	cursor: pointer;
}


/*CONTACT FORM*/
#contact{
	padding: 70px 0px 70px 0px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#contactwrap{
	width:950px;
	padding: 0px 50px 50px 50px;
	/*border: 1px solid orange;*/
	margin: 0 auto;
	text-align:center;
	
}
div.contactform {
	border:7px solid #335540;
	width:45%;
	display:inline-block;
	background-color:#335540;
}
input.text{
	height:30px;
	width:90%;
	border-radius: 0px;
	border:none;
	
}
textarea.message{
	height:150px;
	width:90%;
	border-radius: 0px;
	border:none;
}
input.submit{
	width:170px;
	height:40px;
	font-family: Roboto;
	font-size:12pt;
	font-weight: 700;
	color:white;
	Background-color:#335540;
	border: 2px solid white;
	border-radius: 0px;
	transition:border-color 0.2s;
	transition:color 0.2s;
}
input.submit:hover{
	border-color:#f5d553;
	color:#f5d553;
	cursor: pointer;
}
label{
	font-family: Play;
	font-weight: 700;
	color: #f5d553;
	float:left;
	margin-bottom:5px;
	margin-left: 20px;
}
#contact2{
	width:45%;
	/*border:1px solid aqua;*/
	display:inline-block;
	float:right;
	margin:0 auto;
}
#contact3{
	display:none;
}
.dash1{
	width:100%;
	border: 0 none;
	border-top: 2px dashed #335540;
	Background: none;
	height:0;
}
.dash2{
	width:100%;
	border: 0 none;
	border-top: 2px dashed white;
	Background: none;
	height:0;
}

/*Footer*/
footer{
	background-color: #335540;
	padding:20px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#footerwrap{
	width:95%;
	height:80%;
	/*border: 1px solid orange;*/
	margin:0 auto;
	display:flex;
	
}
#footersection{
	float:left;
	width:73%;
	height:70%;
	/*border: 1px solid aqua;*/
	margin:auto;
		
	
	text-align:left;
}
#footersocial{
	float:right;
	width:17%;
	height:60%;
	/*border: 1px solid aqua;*/
	margin:auto;
}
#footerbutton{
	margin:auto;
	display:inline-block;
}
footer a {
	color:white;
	text-decoration:none;
	font-family:Roboto;
	font-size:11pt;
	margin: 0px 0px 0px 0px;
	transition:0.2s;
	text-align:left;
}
footer a:hover{
	color:#f5d553;
	font-size:13pt;
}
.socials{
	width:30px;
	height:30px;
	float:right;
	margin: 0px 3px 0px 3px;
	transition:0.2s;
}
.socials:hover{
	width:35px;
	height:35px;
}
.topbutton{
	width:40px;
	transition:0.2s;
}
.topbutton:hover{
	width:65px;
}

}

/*TABLET*/
@media (max-width: 768px){
	/*NAVIGATION*/
	header{
	position:fixed;
	width:100%;
	height:75px;
	margin:0 auto;
	background-color:white;
}
	#headerwrap{
		/*border:1px solid red;*/
		width:100%;
		height:100%;
		flex-direction: row;
    	flex-wrap: wrap;
    	justify-content: none;
    	align-items: none;
		background-color:white;
}
	#infobar{
	display:flex;
	}
	
	#infowrap{
	width:80%;
	margin:0 auto;
	/*border:1px solid yellow;*/
	text-align: center;
	
}
	.logo{
		height:100%;
		display:block;
		/*border:1px solid blue;*/
		float:left;
		margin:0 auto;
		padding:0px;
		background-color:white;
	}
	#fullnav{
		margin:0 auto;
		padding:0px;
		text-align:center;
		display:none;
		float: none;
		width:100%;
	}
	#fullnav a{
		display:inline-block;
		/*border:1px solid blue;*/
		background-color:#335540;
		color:white;
		width:100%;
		padding:5px 0px 5px 0px;
	}
	#fullnav a:hover{
	color:blue;
	cursor: pointer;
	font-size:18pt;
}
	.burger{
		display:block;
		height:100%;
		background:url(../images/burger1.png) no-repeat 98% center;
		background-color:white;
		/*border:1px solid blue;*/
		cursor: pointer;
	}

/*LANDING SECTION*/
#landingsection{
	background-image:url("../images/landing6.png");
	/*background-color: blue;*/
	background-repeat:no-repeat;
	background-size: cover;
	display: flex;
    justify-content: center;
    align-items: center;
	width:100%;
	height:700px;
	margin: 0 auto;
}
#landingwrap1{
	margin: 0 auto;
	justify-content: center;
    align-items: center;
	width:80%;
	background-color:rgba(51, 85, 64, 0.6);
	/*border:1px solid orange;*/
}
.landingtext1{
	font-family: Roboto;
	font-weight: 500;
	font-size: 16pt;
	color: white;
	text-align:center;
	/*border:1px solid blue;*/
}
.landingtext2{
	font-family: Play;
	font-weight: 700;
	font-size: 24pt;
	color: white;
	text-align:center;
	/*border:1px solid blue;*/
	margin:10px 0px 10px 0px;
}
.landingtext2 span{
	color:#f5d553;
}
.buttonwrap{
	/*border:1px solid red;*/
	justify-content: center;
    align-items: center;
	text-align:center;
	margin:0 auto;
	margin:15px 0px 0px 0px;
}
.button{
	width:150px;
	height:40px;
	font-family:Roboto;
	font-weight:700;
	font-size:16pt;
	color:#335540;
	background-color:#f5d553;
	/*border:1px solid aqua;*/
	text-align:center;
	transition:color 0.5s;
	margin:0 auto;
	margin:10px 10px 10px 10px;
	}
.button:hover{
	Background-color:white;
	color:#f5d553;
	cursor: pointer;
}
/*ABOUT SECTION*/
#about{	
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#aboutwrap{
	width:100%;
	/*border: 1px solid orange;*/
	margin: 0 auto;
	text-align:center;
    justify-content: center;
    align-items: center;
	display:block;
	
}
#aboutphoto{
	background-image:url("../images/aboutphoto0.png");
	background-repeat:no-repeat;
	background-size: cover;
	width:450px;
	height:450px;
	/*border:1px solid aqua;*/
	margin:0 auto;
	display:flex;
	float:none;
	text-align:center;
}
#abouttext{
	width: 450px;
	height:100%;
	/*border:1px solid blue;*/
	margin:0 auto;
	margin:20px 0px 0px 0px;
	float:none;
	text-align:center;
}
#abouttextcontent p{
	text-align: left;
	font-family:Roboto;
	font-size:12pt;
}
#abouttextcontent span{
	font-family: Play;
	font-weight: 700;
	font-size: 16pt;
	text-align: center;
	color: #335540;
}
/*PROCESS SECTION*/
#process{
	padding: 70px 0px 70px 0px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;	
}
#processwrap{
	width:100%;
	padding: 0px 0px 0px 0px;
	/*border: 1px solid orange;*/
	margin: 0 auto;
	text-align:center;
}
#processwrap span{
	font-family:Play;
	Font-weight:700;
	font-size:16pt;
	
}
.processheader1{
	color:#f5d553;
}

.processheader2{
	color:black;
	display:block;
}
.processtext{
	/*border:1px solid aqua;*/
	margin:0 auto;
	padding:0px 0px 0px 0px;
	color:white;
}
#processsections{
	margin-top:20px;
	margin-bottom:20px;
	width:450px;
	/*border:1px solid red;*/
	justify-content: center;
    align-items: center;
	display:inline-block;
}
.processbox{
	width:100%;
	height:100%;
	/*border:1px solid aqua;*/
	margin:0 auto;
	margin:10px 0px 10px 0px;
	text-align:center;
	background-color:rgba(237,237,237, 0.7);
	justify-content: center;
    align-items: center;
	display:flex;
}
.processboxinner{
	/*border:1px solid blue;*/
}

.processbutton{
	display:inline-block;
	width:170px;
	height:40px;
	font-family:Roboto;
	font-weight:500;
	font-size:16pt;
	color:white;
	background-color:#335540;
	margin-top:15px;
	text-align:center;
	vertical-align:middle;
	line-height: 35px;
	transition: 0.2s;
	float:none;
	}
.processbutton:hover{
	color:#335540;
	background-color:#f5d553;
	cursor: pointer;
}
.processbox p{
	font-family:Roboto;
	color: black;
	text-align:left;
	
}
.processimg{
	width:200px;
	height:200px;
	margin-bottom:10px;
	/*border:1px solid red;*/
	display:inline-block;
	/*background-color:#335540;*/
	padding:10px;
}
.processboxtext{
	/*border:1px solid orange;*/
	width:90%;
	margin:0 auto;
}
/*CAP STYLE SECTION*/
#capstyles{
	padding: 70px 0px 70px 0px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#capstylewrap{
	width:100%;
	padding: 0px 0px 0px 0px;
	/*border: 1px solid orange;*/
	margin: 0 auto;
	text-align:center;
}
#capstyletext{
	width:90%;
	/*border:1px solid aqua;*/
	margin:0 auto;
	padding:0px 0px 0px 0px;
	color:black;
}
#capstyles h2{
	color:#335540;
}
.capstylerow{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
	margin-top:50px;
	/*border:1px solid red;*/
}

.capstylecolumn{
    flex: 50%;
	height:100%;
	margin-top:30px;
	/*border:1px solid red;*/
}
.capstylecolumn img{
	flex: 50%;
    padding: 0 4px;
	width:100%;
}
.capstylebox{
	margin-bottom:20px;
	height:100%;
		
}
.capstylebox span{
	font-family:Play;
	Font-size:16pt;
	font-weight:700;
	color:#335540;
}

.capstyleinner1{
	/*background-image:url("../images/capstylebanner1.png");*/
	background-image:url("../images/bg_pattern_test5.png");
	background-repeat:no-repeat;
	background-size: cover;
	background-color: #3e674d;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	width:100%;
	height:100%;
	margin: 0 auto;
	padding:20px 0px 20px 0px;
}
.capstyleinner2{
	background-image:url("../images/bg_pattern_test5.png");
	background-repeat:no-repeat;
	background-size: cover;
	background-color: #3e674d;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	width:100%;
	height:100%;
	margin: 0 auto;
	padding:20px 0px 20px 0px;
}
.capstyletext1{
	/*border:1px solid orange;*/
	width:450px;
	margin:10px 10px 10px 10px;
	padding:20px 10px 20px 10px;
	font-family:Roboto;
	color: black;
	background-color:rgba(255, 255, 255, 0.7);
	/*outline:solid 2px #f5d553;*/
}
.capstyletext1 p{
	text-align:left;
	display:flex;
}
.capstyletext2 p{
	text-align:left;
}
.capstyleimage1{
	display:none;
}
.capstyleimage1 img{
	/*border:1px solid black;*/
}
.capstyletext2{
	/*border:1px solid orange;*/
	width:450px;
	margin:10px 10px 10px 10px;
	padding:20px 10px 20px 10px;
	font-family:Roboto;
	color: black;
	background-color:rgba(255, 255, 255, 0.7);
}
.capstyleimage2{
	width:300px;
	height:300px;
	/*border:1px solid pink;*/
	margin:0px 0px 0px 0px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.capstyleimage2 img{
	/*border:1px solid black;*/
}
.capstyleimage3{
	width:300px;
	height:300px;
	/*border:1px solid pink;*/
	margin:0px 0px 0px 0px;
	display:flex;
	justify-content:center;
	align-items:center;
	}
.capstylebutton{
	display:inline-block;
	width:170px;
	height:40px;
	font-family:Roboto;
	font-weight:500;
	font-size:16pt;
	color:#ffffff;
	background-color:#335540;
	margin-top:15px;
	text-align:center;
	vertical-align:middle;
	line-height: 35px;
	transition: 0.2s;
	}
.capstylebutton:hover{
	color:#335540;
	background-color:#f5d553;
	cursor: pointer;
}

/*DECORATIONS SECTION*/
	#decowrap{
		display:none;
	}
	
#decorations{
	background-image:url("../images/bg_pattern_test5.png");
	
	background-color: #3e674d;
	padding: 70px 0px 70px 0px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#decowrap2{
	display:initial;
	width:100%;
	max-width:100%;
	padding: 0px 20px 30px 20px;
	margin: 0 auto;
	text-align:center;
	/*border:1px solid yellow;*/
}
#decotext{
	/*border:1px solid aqua;*/
	margin:0 auto;
	padding:0px 0px 0px 0px;
	color:white;
}

.decosection{
	/*border:1px solid blue;*/
	width:100%;
	padding:0px;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	margin:10px 0px 0px 0px;
	background-color:rgba(237,237,237, 0.7);
}
.decocolumn{
	/*border:1px solid aqua;*/
	width:100%;
	height:100%;
	min-height:100%;
	margin:0px 5px 0px 5px;
	padding:10px;
	/*background-color:rgba(237,237,237, 0.7);*/
}
.decocolumn img{
	width:100%;
	height:100%;
	max-width:300px;
	border:3px solid #3e674d;
}
.decocolumn h4{
	/*border:1px solid pink;*/
	margin:0px 0px 10px 0px;
}
#decowrap h5{
	/*border:1px solid pink;*/
	margin:40px 0px 10px 0px;
}
#decowrap h6{
	/*border:1px solid pink;*/
	margin:40px 0px 0px 0px;
}


	/*CONTACT FORM*/
#contact{
	padding: 70px 0px 70px 0px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	
}
#contactwrap{
	width:90%;
	padding: 0px 0px 0px 0px;
	/*border: 1px solid orange;*/
	margin: 0 auto;
	text-align:center;
	
}

div.contactform {
	justify-content: center;
    align-items: center;
	display:flex;
	width:100%;
	padding:10px 0px 10px 0px;
	background-color:#335540;
	border:1px solid transparent;
	
}
form.contactform{
	/*border:1px solid yellow;*/
	width:90%;
	
}
input.text{
	height:30px;
	width:80%;
	margin:-20px 0px 0px 0px;
	border-radius: 0px;
	/*border:1px solid red;*/
	
}
textarea.message{
	height:150px;
	width:80%;
	margin:0px 0px 0px 0px;
	border-radius: 0px;
	/*border:1px solid red;*/
	
}
input.submit{
	width:170px;
	height:40px;
	font-family: Roboto;
	font-size:12pt;
	font-weight: 700;
	color:white;
	Background-color:#335540;
	border: 2px solid white;
	border-radius: 0px;
	transition:border-color 0.2s;
	transition:color 0.2s;
}
input.submit:hover{
	border-color:#f5d553;
	color:#f5d553;
	cursor: pointer;
}
label{
	font-family: Play;
	font-weight: 700;
	color: #f5d553;
	float:left;
	margin-bottom:5px;
	margin-left: 30px;
}
#contact2{
	display:none;
}
#contact3{
	width:100%;
	/*border:1px solid aqua;*/
	display:inline-block;
	float:right;
	margin:0 auto;
}
footer{
	display:none;
}
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background-image: url("burger1.png");
  background-repeat:no-repeat;
  width:15px;
  height:15px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  /*border:1px solid blue;*/
  margin: 0 auto;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}
	
/*Portfolio Page*/
/*Gallery Layout*/
#portfoliowrap{
	width:90%;
	margin: 0 auto;
	display:flex;
	/*border: 1px solid red;*/
	justify-content: center;
}
#portfoliowrap2{
	margin:0 auto;
	margin-top:100px;
	margin-bottom:50px;
	width:100%;
	display:inline;
	/*border:1px solid orange;*/
}
	
.row>.column{
	display:none;
}
.row:after{
	content: "";
	display:table;
	clear:both;
	margin: 0 auto;
}
.column{
	margin:0 auto;
	float:left;
	width:49%;
	/*border: solid 1px pink;*/
	text-align:center;
}
.column img{
	margin:0 auto;
	/*border: solid 1px black;*/
	width:75%;
	display: flex;
	transition:0.7s;
}
.column img:hover{
	background-color:rgba(245,213,83, 0.2);
	cursor:pointer;
}

/*Modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.7);
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  height:50%;
  /*border:1px solid blue;*/
  display:block;
	
}
.mySlides img{
		/*border:1px solid pink;*/
		margin:0 auto;
		text-align:center;
		position:absolute;
		top:15%;
		
	}
.close {
  color: #335540;
  float:right;
  margin:0px 10px 0px 0px;
  font-size: 35px;
  font-weight: bold;
  transition:0.2s;
}

.close:hover,
.close:focus {
  color: #f5d553;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 8px;
  margin-top: -50px;
  color: #335540;
  background-color: rgba(245, 213, 45, 0.3);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(245, 213, 45, 0.8);
}
.numbertext {
  color: #335540;
  font-family: Roboto;
  font-weight: 700;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
	
}

/*MOBILE*/
@media (max-width: 480px){

/*NAVIGATION*/
	#bigwrap{
	width:90%;
}
	header{
	position:fixed;
	width:100%;
	height:50px;
	margin:0 auto;
	background-color:white;
}
	#headerwrap{
		/*border:1px solid red;*/
		width:100%;
		height:100%;
		flex-direction: row;
    	flex-wrap: wrap;
    	justify-content: none;
    	align-items: none;
}
	#infobar{
		display:flex;
		align-items:center;
		justify-content:center;
		margin:0 auto;
	}
	#infowrap{
	width:90%;
	margin:0 auto;
	/*border:1px solid yellow;*/
	text-align: center;
	font-size:10pt;
	float:none;
	
}
	.logo{
		height:100%;
		display:block;
		/*border:1px solid blue;*/
		float:left;
		margin:0px;
		padding:0px;
		background-color:white;
	}
	#fullnav{
		margin:0 auto;
		padding:0px;
		text-align:center;
		display:none;
	}
	#fullnav a{
		display:inline-block;
		/*border:1px solid blue;*/
		background-color:#335540;
		color:white;
		width:100%;
		padding:5px 0px 5px 0px;
	}
	.burger{
		display:block;
		height:100%;
		
		background:url(../images/burger1.png) no-repeat 98% center;
		background-color:white;
		/*border:1px solid blue;*/
		cursor: pointer;
	}

/*LANDING SECTION*/
#landingsection{
	background-image:url("../images/landing6.png");
	/*background-color: blue;*/
	background-repeat:no-repeat;
	background-size: cover;
	display: flex;
    justify-content: center;
    align-items: center;
	width:100%;
	height:600px;
	margin: 0 auto;
}
#landingwrap1{
	margin: 0 auto;
	justify-content: center;
    align-items: center;
	width:70%;
	background-color:rgba(51, 85, 64, 0.6);
	/*border:1px solid orange;*/
}
.landingtext1{
	font-family: Roboto;
	font-weight: 500;
	font-size: 14pt;
	color: white;
	text-align:center;
	/*border:1px solid blue;*/
}
.landingtext2{
	font-family: Play;
	font-weight: 700;
	font-size: 18pt;
	color: white;
	text-align:center;
	/*border:1px solid blue;*/
	margin:10px 0px 10px 0px;
}
.landingtext2 span{
	color:#f5d553;
}
.buttonwrap{
	/*border:1px solid red;*/
	justify-content: center;
    align-items: center;
	text-align:center;
	margin:0 auto;
	margin:15px 0px 0px 0px;
}
.button{
	width:170px;
	height:40px;
	font-family:Roboto;
	font-weight:700;
	font-size:16pt;
	color:#335540;
	background-color:#f5d553;
	/*border:1px solid aqua;*/
	text-align:center;
	transition:color 0.5s;
	margin:0 auto;
	margin:10px 0px 10px 0px;
	}
.button:hover{
	Background-color:white;
	color:#f5d553;
	cursor: pointer;
}
/*ABOUT SECTION*/
#about{	
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#aboutwrap{
	width:100%;
	/*border: 1px solid orange;*/
	margin: 0 auto;
	text-align:center;
    justify-content: center;
    align-items: center;
	display:flex;
	
}
#aboutphoto{
	background-image:url("../images/aboutphoto0.png");
	background-repeat:no-repeat;
	background-size: cover;
	width:305px;
	height:305px;
	/*border:1px solid aqua;*/
	margin:0 auto;
}
#abouttext{
	display:inline-block;
	width: 300px;
	height:100%;
	/*border:1px solid blue;*/
	margin:0 auto;
	margin:20px 0px 0px 0px;
	float:none;
}
#abouttextcontent p{
	text-align: left;
	font-family:Roboto;
	font-size:12pt;
}
#abouttextcontent span{
	font-family: Play;
	font-weight: 700;
	font-size: 16pt;
	text-align: center;
	color: #335540;
}
/*PROCESS SECTION*/
#process{
	padding: 70px 0px 70px 0px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;	
}
#processwrap{
	width:90%;
	padding: 0px 0px 50px 0px;
	/*border: 1px solid orange;*/
	margin: 0 auto;
	text-align:center;
}
#processwrap span{
	font-family:Play;
	Font-weight:700;
	font-size:16pt;
	
}
.processheader1{
	color:#f5d553;
}

.processheader2{
	color:black;
}
.processtext{
	/*border:1px solid aqua;*/
	margin:0 auto;
	padding:0px 0px 0px 0px;
	color:white;
}
#processsections{
	margin-top:20px;
	margin-bottom:20px;
	width:100%;
	/*border:1px solid red;*/
	justify-content: center;
    align-items: center;
	display:inline-block;
}
.processbox{
	width:100%;
	height:100%;
	/*border:1px solid aqua;*/
	margin:0 auto;
	margin:10px 0px 10px 0px;
	text-align:center;
	background-color:rgba(237,237,237, 0.7);
	justify-content: center;
    align-items: center;
	display:flex;
}
.processboxinner{
	/*border:1px solid blue;*/
}

.processbutton{
	display:inline-block;
	width:170px;
	height:40px;
	font-family:Roboto;
	font-weight:500;
	font-size:16pt;
	color:white;
	background-color:#335540;
	margin-top:15px;
	text-align:center;
	vertical-align:middle;
	line-height: 35px;
	transition: 0.2s;
	}
.processbutton:hover{
	color:#335540;
	background-color:#f5d553;
	cursor: pointer;
}
.processbox p{
	font-family:Roboto;
	color: black;
	text-align:left;
	
}
.processimg{
	width:200px;
	height:200px;
	margin-bottom:10px;
	/*border:1px solid red;*/
	display:inline-block;
	/*background-color:#335540;*/
	padding:10px;
}
.processboxtext{
	/*border:1px solid orange;*/
	width:90%;
	margin:0 auto;
}
/*CAP STYLE SECTION*/
#capstyles{
	padding: 70px 0px 70px 0px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#capstylewrap{
	width:100%;
	padding: 0px 0px 0px 0px;
	/*border: 1px solid orange;*/
	margin: 0 auto;
	text-align:center;
}
#capstyletext{
	/*border:1px solid aqua;*/
	margin:0 auto;
	padding:0px 0px 0px 0px;
	color:black;
}
#capstyles h2{
	color:#335540;
}
.capstylerow{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
	margin-top:50px;
	/*border:1px solid red;*/
}

.capstylecolumn{
    flex: 50%;
	height:100%;
	margin-top:30px;
	/*border:1px solid red;*/
}
.capstylecolumn img{
	flex: 50%;
    padding: 0 4px;
	width:100%;
}
.capstylebox{
	margin-bottom:20px;
	height:100%;
		
}
.capstylebox span{
	font-family:Play;
	Font-size:16pt;
	font-weight:700;
	color:#335540;
}

.capstyleinner1{
	/*background-image:url("../images/capstylebanner1.png");*/
	background-image:url("../images/bg_pattern_test5.png");
	background-repeat:no-repeat;
	background-size: cover;
	background-color: #3e674d;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	width:100%;
	height:100%;
	margin: 0 auto;
	/*border:1px solid aqua;*/
}
.capstyleinner2{
	background-image:url("../images/bg_pattern_test5.png");
	background-repeat:no-repeat;
	background-size: cover;
	background-color: #3e674d;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	width:100%;
	height:100%;
	margin: 0 auto;
}
.capstyletext1{
	/*border:1px solid orange;*/
	width:100%;
	margin:10px 10px 10px 10px;
	padding:20px 10px 20px 10px;
	font-family:Roboto;
	color: black;
	background-color:rgba(255, 255, 255, 0.7);
	/*outline:solid 2px #f5d553;*/
}
.capstyletext1 p{
	text-align:left;
	display:flex;
}
.capstyletext2 p{
	text-align:left;
}
.capstyleimage1{
	display:none;
}
.capstyleimage1 img{
	/*border:1px solid black;*/
}
.capstyletext2{
	/*border:1px solid orange;*/
	width:100%;
	margin:10px 10px 10px 10px;
	padding:20px 10px 20px 10px;
	font-family:Roboto;
	color: black;
	background-color:rgba(255, 255, 255, 0.7);
}
.capstyleimage2{
	width:90%;
	max-width:300px;
	/*border:1px solid pink;*/
	margin:0 auto;
	display:flex;
	justify-content:center;
	align-items:center;
}
.capstyleimage2 img{
	/*border:1px solid black;*/
}
.capstyleimage3{
	width:90%;
	max-width:300px;
	/*border:1px solid pink;*/
	margin:0 auto;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	}
.capstylebutton{
	display:inline-block;
	width:170px;
	height:40px;
	font-family:Roboto;
	font-weight:500;
	font-size:16pt;
	color:#ffffff;
	background-color:#335540;
	margin-top:15px;
	text-align:center;
	vertical-align:middle;
	line-height: 35px;
	transition: 0.2s;
	}
.capstylebutton:hover{
	color:#335540;
	background-color:#f5d553;
	cursor: pointer;
}
/*DECORATIONS SECTION*/
#decowrap{
		display:none;
	}
	
#decorations{
	background-image:url("../images/bg_pattern_test5.png");
	
	background-color: #3e674d;
	padding: 70px 0px 70px 0px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#decowrap2{
	display:initial;
	width:100%;
	max-width:100%;
	padding: 0px 20px 30px 20px;
	margin: 0 auto;
	text-align:center;
	/*border:1px solid yellow;*/
}
#decotext{
	/*border:1px solid aqua;*/
	margin:0 auto;
	padding:0px 0px 0px 0px;
	color:white;
}

.decosection{
	/*border:1px solid blue;*/
	width:100%;
	padding:0px;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	margin:10px 0px 0px 0px;
	background-color:rgba(237,237,237, 0.7);
}
.decocolumn{
	/*border:1px solid aqua;*/
	width:100%;
	height:100%;
	min-height:100%;
	margin:0px 5px 0px 5px;
	padding:10px;
	/*background-color:rgba(237,237,237, 0.7);*/
}
.decocolumn img{
	width:100%;
	height:100%;
	max-width:300px;
	border:3px solid #3e674d;
}
.decocolumn h4{
	/*border:1px solid pink;*/
	margin:0px 0px 10px 0px;
}
#decowrap h5{
	/*border:1px solid pink;*/
	margin:40px 0px 10px 0px;
}
#decowrap h6{
	/*border:1px solid pink;*/
	margin:40px 0px 0px 0px;
}
	/*CONTACT FORM*/
#contact{
	padding: 70px 0px 70px 0px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	
}
#contactwrap{
	width:100%;
	padding: 0px 0px 0px 0px;
	/*border: 1px solid orange;*/
	margin: 0 auto;
	text-align:center;
	
}

div.contactform {
	justify-content: center;
    align-items: center;
	display:flex;
	width:100%;
	height:450px;
	padding:10px 0px 10px 0px;
	background-color:#335540;
	border:1px solid transparent;
	
}
form.contactform{
	/*border:1px solid yellow;*/
	width:90%;
	
}
input.text{
	height:30px;
	width:80%;
	margin:-20px 0px 0px 0px;
	border-radius: 0px;
	/*border:1px solid red;*/
	
}
textarea.message{
	height:150px;
	width:80%;
	border-radius: 0px;
	/*border:1px solid red;*/
}
input.submit{
	width:170px;
	height:40px;
	font-family: Roboto;
	font-size:12pt;
	font-weight: 700;
	color:white;
	Background-color:#335540;
	border: 2px solid white;
	border-radius: 0px;
	transition:border-color 0.2s;
	transition:color 0.2s;
}
input.submit:hover{
	border-color:#f5d553;
	color:#f5d553;
	cursor: pointer;
}
label{
	font-family: Play;
	font-weight: 700;
	color: #f5d553;
	float:left;
	margin-bottom:5px;
	margin-left: 30px;
}
#contact2{
	display:none;
}
#contact3{
	width:100%;
	/*border:1px solid aqua;*/
	display:inline-block;
	float:right;
	margin:0 auto;
}
footer{
	display:none;
}
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background-image: url("burger1.png");
  background-repeat:no-repeat;
  width:15px;
  height:15px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  /*border:1px solid blue;*/
  margin: 0 auto;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}
	
/*Portfolio Page*/
/*Gallery Layout*/
#portfoliowrap{
	width:90%;
	margin: 0 auto;
	display:flex;
	/*border: 1px solid red;*/
	justify-content: center;
}
#portfoliowrap2{
	margin:0 auto;
	margin-top:100px;
	margin-bottom:50px;
	width:100%;
	display:inline;
	/*border:1px solid orange;*/
}
	
.row>.column{
	display:none;
}
.row:after{
	content: "";
	display:table;
	clear:both;
	margin: 0 auto;
}
.column{
	margin:0 auto;
	float:left;
	width:49%;
	/*border: solid 1px pink;*/
	text-align:center;
}
.column img{
	margin:0 auto;
	/*border: solid 1px black;*/
	width:100%;
	
	display: flex;
	transition:0.7s;
}
.column img:hover{
	background-color:rgba(245,213,83, 0.2);
	cursor:pointer;
}

/*Modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.7);
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  height:30%;
}
.close {
  color: #335540;
  float:right;
  margin:0px 10px 0px 0px;
  font-size: 35px;
  font-weight: bold;
  transition:0.2s;
}

.close:hover,
.close:focus {
  color: #f5d553;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #335540;
  background-color: rgba(245, 213, 45, 0.3);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(245, 213, 45, 0.8);
}
.numbertext {
  color: #335540;
  font-family: Roboto;
  font-weight: 700;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
	
}


