html {
  background-image: url("../images/skybackground2.jpg");
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  font-size: 100%;
  overflow:hidden;
}
body {
	margin:0px;
	padding:0px;
	overflow: scroll;
	height:100%;
}
.logo {
	width: 400px;
	display: block;
	margin:0 auto;
	margin-top: 40px;
}
/*navigation bar*/
nav{
	text-align: center;
	margin-top: 95px;
	padding: 0px;
}
.navbar{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-decoration: none;
	font-size: 18pt;
	margin: 52px;
	color: #192C56;
	border-bottom: 3px solid rgba(25, 44, 86, 0);
	padding-bottom: 20px;
	transition: border-bottom 0.5s;
	
}
.navbar:hover{
	border-bottom: 3px solid rgba(25, 44, 86, 1.0);
	padding-bottom: 20px;
}
.navbar:active{
	color: #1f6db6;
	border-bottom: 3px solid #1f6db6;
}
.specialnavbar{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-decoration: none;
	font-size: 18pt;
	color: #1f6db6;
	border-bottom: 3px solid  #1f6db6;
	padding-bottom: 20px;
}
#wrapper{
	width:950px;
	margin: 0 auto;
	margin-top: 150px;
}
h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size:25px;
	color: #192c56;
}
/*IMAGE VIEWER*/
.imgStyle{
	height:68px;
	width:68px;
	border:3px solid rgba(25, 44, 86, 0);
}
#mainImage2{
	margin-top:100px;
}
#mainImage3{
	margin-top:100px;
}
#myDiv1{
	width:390px;
}
#myDiv2{
	width:390px;
}
/*text*/
#articlewrap{
	width:520px;
	float:right;
	margin-top:-577px;
}
.articletext1{
	float:right;
	display:block;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #192c56;
}
hr{
	border:none;
	height:1px;
	color: #1f6db6;
	background-color:#1f6db6;
}
/*footer section*/
footer {
	width: 100%;
	height: 200px;
	background-color: #192c56;
	overflow-y:hidden;
	margin-top: 150px;
}
#foot{
	width:1000px;
	height:100%;
	margin: 0 auto;
}
.contact{
	float:left;
	margin-left:75px;
}
.products{
	float: right;
	margin-right:50px;
}
.about{
	float:right;
	margin-right:225px;
}
.footerheader{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: white;
	font-size: 16px;
}
.footertext{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: white;
	font-size: 16px;
	text-decoration:none;
}
.footertext:hover{
	text-decoration: underline;
}
.footericon{
	display:block;
}
.footertextemail{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: white;
	font-size: 16px;
	margin-top:-63px;
	margin-left: 45px;
}
.footertextphone{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: white;
	font-size: 16px;
	margin-left:45px;
}
.topbutton{
	
	margin-top:140px;
	margin-left:150px;
}
@media(max-width: 1024px) and (max-height: 1366px){
	footer {
		width: 100%;
		height: 200px;
		background-color: #192c56;
		overflow-y:hidden;
		margin-top: 250px;
	}
}
@media(max-width: 768px){
	.navbar{
		margin: 15px;
	}
	#wrapper{
		width:625px;
	}
	#articlewrap{
		width:300px;
		margin-top:-465px;
	}
	#mainImage1{
		width:300px;
		height:300px;
	}
	#mainImage2{
		width:300px;
		height:300px;
	}
	#mainImage3{
		width:300px;
		height:300px;
	}
	#myDiv1{
		width:350px;
	}
	#myDiv2{
		width:350px;
	}
	.imgStyle{
		width:52px;
		height:52px;
	}
	.articletext2{
		margin-top:130px;
	}
	.articletext3{
		margin-top:170px;
	}
	footer {
		width: 100%;
		height: 200px;
		background-color: #192c56;
		overflow-y:hidden;
		margin-top: 200px;
	}
	#foot{
		width:900px;
		height:100%;
		margin: 0 auto;
	}
	.topbutton{
	margin-left:670px;
	}
}
@media(max-width: 767px){
	.logo {
		width: 350px;
		display: block;
		margin:0 auto;
		margin-top: 40px;
		overflow-y:hidden;
	}
	nav{
		text-align: center;
		margin-top: 40px;
		padding: 0px;
		overflow-y:hidden;
	}
	.navbar{
		background-color: #192c56;
		color: white;
		padding-top:20px;
		display: block;
		overflow-y:hidden;
		margin:0 auto;
		margin-top:10px;
		font-size: 14pt;
	}
	.specialnavbar{
		font-size: 14pt;
	}
	#wrapper{
		width:350px;
		margin:0 auto;
		margin-top: 100px;
	}
	#articlewrap{
		width:300px;
		margin:0 auto;
		margin-top:-935px;
		float:none;
		display:block;
	}
	.articletext1{
		float:none;
	}
	.imagewrap{
		width:306px;
		margin:0 auto;
	}
	#mainImage1{
		width:300px;
		height:300px;
		margin-top:480px;
	}
	#mainImage2{
		width:300px;
		height:300px;
		margin-top:400px;
	}
	#mainImage3{
		width:300px;
		height:300px;
		margin-top:470px;
	}
	.imgStyle{
		width:52px;
		height:52px;
	}
	
	footer {
		width: 100%;
		height: 50px;
		background-color: #192c56;
		overflow-y:hidden;
		margin-top: 600px;
	}
	#foot{
		width:900px;
		height:100%;
		margin: 0 auto;
	}
		.contact{
	display:none;
	}
	.products{
		display:none;
	}
	.about{
		display:none;
	}
	.footerheader{
		display:none;
	}
	.footertext{
		display:none;
	}
	.footericon{
		display:none;
	}
	.footertextemail{
		display:none;
	}
	.footertextphone{
		display: none;
	}
	.topbutton{
		display: none;
	}
}
@media(max-width: 320px){
	.logo {
		width: 300px;
	}
	#wrapper{
		width:250px;
		margin:0 auto;
		margin-top: 100px;
	}
	#articlewrap{
		width:250px;
		margin:0 auto;
		margin-top:-915px;
		float:none;
		display:block;
	}
	.articletext1{
		float:none;
	}
	.articletext2{
		float:none;
		margin-top:400px;
	}
	.articletext3{
		float:none;
		margin-top:410px;
	}
	.imagewrap{
		width:200px;
		margin:0 auto;
	}
	#mainImage1{
		width:194px;
		height:194px;
		margin-top:515px;
	}
	#mainImage2{
		width:200px;
		height:200px;
		margin-top:435px;
	}
	#mainImage3{
		width:200px;
		height:200px;
		margin-top:550px;
	}
	#myDiv1{
		width:200px;
	}
	#myDiv2{
		width:200px;
	}
	.imgStyle{
		width:58px;
		height:58px;
	}
	
	footer {
		width: 100%;
		height: 50px;
		background-color: #192c56;
		overflow-y:hidden;
		margin-top: 500px;
	}
	#foot{
		width:900px;
		height:100%;
		margin: 0 auto;
	}
}

 